<web-app>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.dega.servlets.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
</web-app>